.grid-container{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
    border: 2em solid #03045e;
    border-radius: 2%;
    box-shadow: 12px 12px 7px rgba(19, 19, 20, 0.443);
    width: 840px;
    height: 720px;
    margin: 5% auto;
    background-color: #0077b6;
}

.grid-item{
    border: 3px solid black;
    background-color: #caf0f8;
    margin: 6px 6px 6px 6px;
    border-radius: 50%;
    box-shadow: 1.75px 2px 1.5px 1px #0b0b0b6e ;
    text-align: center;
}
body{
    background-color: #caf0f8;
}
h1{
    font-size: 4em;
    margin: 0 auto;
    text-align: center;
    color: #051923;
}
.reset-buttons{
    height: 48px;
    width: 588px;
    margin: 0 auto; 
    text-align: center;
}

#new-game{
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #d0e3f1d5;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin: 2px;
    box-shadow: 1px 1px 1.5px  #0b0b0b6e ;
}
#new-round{
    display: inline-block;
    background-color:#7b38d8 ;
    border-radius: 10px;
    border: 4px double #d0e3f1d5;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    margin: 2px;
    box-shadow: 1px 1px 1.5px  #0b0b0b6e ;
}