.grid-container{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
    justify-content:center;
    
    
}
.grid-item{
    border: 2px solid black;
    background-color: rgb(197, 190, 190);
}